@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$font: 'Raleway', sans-serif;
$pale-Blue: hsl(243, 100%, 93%);
$grayish-Blue: hsl(229, 7%, 55%);
$dark-Blue: hsl(228, 56%, 26%);
$very-Dark-Blue: hsl(229, 57%, 11%);

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('bg-mobile.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    font-family: $font;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
    section{
        background-color: $dark-Blue;
        border-radius: 8px;
    }
}
main{
    width: 85%;
    margin-inline:auto ;
    max-width: 400px;
    position: relative;
    section.images{
        margin-bottom: 1rem;
        padding: 2rem 0 2rem 2rem;
        border-top-right-radius: 90px;
        .images-container{
            .logo{
                margin-bottom: 1.5rem;
                img{
                    width: 40%;
                }
               
            }
           .storage-images{
                display: flex;
                gap: 1rem;
                
                .image{
                    background-color: $very-Dark-Blue;
                    padding: .6rem;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    border-radius: 10px;
                    img{
                        width: 95%;
                        align-self: center;
                    }
                }
            }
        }
    }
    section.storage-info{
        padding: 1.5rem 0 2.5rem 0;
        .storage-info-container{
            width: 85%;
            margin-inline: auto;
            // background-color: pink;
            >p{
                text-align: center;
                font-size: .75rem;
                color: $grayish-Blue;
                margin-bottom: 1rem;
            }
            .number{
                color: $pale-Blue;
                font-weight: 600;
                
            }
            div.storage-capacity{
                height: 1rem;
                border-radius: .9rem;
                background-color: hsla(229, 57%, 11%, 0.39);
                margin-bottom: .6rem;
                .storage-level{
                    position: relative;
                    top: .14rem;
                    left: .18rem;
                    height: .7rem;
                    background: linear-gradient(91deg,hsl(6,100%,80%) 0%, hsl(335,100%,65%) 80%);
                    width: 70%;
                    border-radius: 8px;
                    display: flex;
                    justify-content: flex-end;
                    .current-level{
                        position: relative;
                        right: .1rem;
                        top: .05rem;
                        height: .6rem;
                        background-color: $pale-Blue;
                        border-radius: 50%;
                        width: 6%;
                        max-width: 10px;
                    }
                }
            }
            .min-max{
                font-size: .65rem;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    section.storage-left{
        position: relative;
        bottom: 2rem;
        background-color: $pale-Blue;
        width: 35%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        padding: .8rem;
        box-shadow: -2px 2px 34px -8px rgba(0,0,0,0.75);

        .storage-left-container{
            display: flex;
            gap: .5rem;
            align-items: center;
            h2{
                color: $very-Dark-Blue;
                font-weight: 700;
            }
            p{
                color: $grayish-Blue;
                letter-spacing: .03rem;
                font-weight: 700;
                font-size: .5rem;
            }
        }
    }
}
@media (min-width: 750px) {
    body{
        background-color: $very-Dark-Blue;
        background-image: url('bg-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        
        background-position: 50% bottom ;
    }
    main{
        // background-color: pink;
        max-width: 800px;
        div.main-container{
            display: flex;
            gap: 1rem;
            width: 100%;
        }
        
        // max-width: 500px;
        section.images{
            flex-basis: 40%;
            margin: 0;
        }
        section.storage-info{
            flex-basis: 60%;
            align-self: flex-end;
            padding: 2rem 0rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .storage-info-container>p{
                text-align: left ;
                margin-bottom: .8rem;
            }
        }
    
        section.storage-left{
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 76%, 100% 66%, 89% 49%, 0 48%);
            position: absolute;
            bottom: 4rem;
            right: 2rem;
            padding: .5rem .5rem 3.5rem .5rem;
            width: 20%;
            border-bottom-left-radius: 8px;
            .storage-left-container{
                background-color: $pale-Blue;
            }
        }
    }
}